{{ define "main" }}
<section>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="content">{{ . }}</div>{{ end }}
    
    {{ if .Pages }}
        {{ range .Pages }}
        <article class="tech-card">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
            
            {{ if .Params.authors }}
            <div class="authors">
                <strong>Authors:</strong>
                {{ range $index, $author := .Params.authors }}
                    {{ if $index }}, {{ end }}
                    <span class="author">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
            
            {{ if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
            
            {{ if not .Date.IsZero }}
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                📝 {{ .Date.Format "January 2, 2006" }}
            </time>
            {{ end }}
        </article>
        {{ end }}
        
        {{ template "_internal/pagination.html" . }}
    {{ else }}
        <p style="font-weight: bold;" class="empty-message">No items available yet.</p>
    {{ end }}
</section>
{{ end }}